/* main.css */

body {
    margin: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #6cabb4;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

h1 {
    margin: 60px auto;
    width: 70%;
    font-size: 2.5em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    margin: 60px auto;
    width: 70%;
    font-size: 1.5em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

h3 {
    margin: 60px auto;
    width: 70%;
    font-size: 1em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}


p {
    margin: 60px auto;
    width: 70%;
    font-size: 1em;
    line-height: 2.0em;
    color: #333;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    word-wrap: break-word;
}

footer {
    text-align: center;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}


/* Table Styles */
table {
  border-collapse: collapse; /* Make table borders touch */
  width: 60%;                /* Set table width */
  margin: 60px auto;         /* Center the table */
}

th, td {
  border: 1px solid #ddd;   /* Light gray cell borders */
  text-align: left;         
  padding: 12px;            
}

th {
  background-color: #f0f0f0; /* Light gray header background */
}

table, th, td {  /* This will apply the font to the entire table */
  font-family: 'Helvetica', 'Arial', 'Sans-Serif'; /* Replace with your desired font */
} 

.standard-list { /* Styles applied to lists with the class 'standard-list' */
    list-style-type: disc;
    margin: 60px auto;
    width: 65%;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif'; /* Example: Use a different font */
}

.standard-list li {
    margin-bottom: 15px;
}

.standard-image {
  /* Set width, height, margins, etc. for all images */
  width: 70%; /* Adjust as needed 300px originally */
  margin: 10px;
}

.image-container {
  display: flex; /* Enable flexbox layout */
  align-items: center; /* Vertically center content */
  margin: 60px; /* Horizontally center content */  
}

.image-left {
  order: 1; /* Display image first in the flexbox order (optional) */
  margin-left: 0px; /* Adjust spacing between image and text */
}

.image-right {
  margin-right: auto; /* Margin to push image right */
}
