<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {margin: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #6cabb4;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

h1 {
    margin: 60px auto;
    width: 70%;
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    margin: 60px auto;
    width: 70%;
    font-size: 1em;
    line-height: 0.0em;
    color: #333;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
footer {
    text-align: center;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

</style>
</head>
<body>

<ul class="topnav">
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/cv">CV</a></li>
  <li><a href="/pubs">Publications</a></li>
  <li class="right"><a href="/about">About</a></li>
  <li><a href="/teaching">Classes</a></li>
</ul>

</body>
</html>

